<body>
<h1 style= "color:gray">Edit Student Information</h1>
<hr style="color:light-gray; height: 10px; border: 0;box-shadow: 0 10px 10px -10px #8c8b8b inset;">
 
<%= render 'form' %>
 
<%= link_to image_tag("back.png", :title => "Back"), students_path %> 
</body>
<style>
    body{
        text-align:center;
        font-family:sans-serif;
    }
    
</style>