<body>
<h1 style= "color:gray">New Student Entry</h1>
<hr>
<%= render 'form' %>
 
 
 
<%= link_to image_tag("back.png", :title => "Back"), students_path %> 
</body>
<style>
    body{
        font-family:sans-serif;
        text-align:center;
        
    }
    
</style>